*{
    color: antiquewhite;
}
.one{
    width: 110px;
    height: 110px;
    border:1px solid rgb(41, 26, 211);
    margin: 10px 50px;
    border-radius: 50%;
}
.two{
    border:1px solid rgb(117, 0, 128);
    width: 110px;
    height: 110px;
    margin: 1px 50px; 
    border-radius: 50%;
   
}
